body {
    margin: 0;
    font-family: 'Cinzel', serif;
    background-image: url('https://t3.ftcdn.net/jpg/04/59/95/60/360_F_459956036_JXcJ0vzTzr2GFFpUcNsCT7CCaSDRKgtt.jpg');
    color: white;
}

.navbar {
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.page-header {
    text-align: center;
    margin-top: 30px;
}

.page-header h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

.page-header hr {
    width: 200px;
    margin: 10px auto;
    border: 1px solid rgba(255,255,255,0.4);
}

.page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
}

#wheel-container {
    flex: 0 0 400px; /* Fixed width */
    display: flex;
    justify-content: center;
    align-items: center;
}

.role-wheel {
   position: relative;
    width: 350px;
    height: 350px;
    border-top-right-radius: 175px;
    border-bottom-right-radius: 175px;
    border: 3px solid rgba(255,255,255,0.4);
    border-left: none;
    background: radial-gradient(circle at left center, rgba(255,255,255,0.08), transparent 70%);
    box-shadow: inset -10px 0 20px rgba(255,255,255,0.2);
}
.role-wheel::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    background: radial-gradient(circle, #f3ee00, #ff0000);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
}
.role {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 8px;
    text-align: center;
}

.content {
    flex: 1;
}

#section-title {
    font-size: 24px;
    margin-bottom: 1rem;
}

.members-grid {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 30px;
}



.member-card img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.member-card strong {
    font-size: 14px;
}

.member-card span {
    font-size: 12px;
    opacity: 0.8;
}
.members {
  display: flex;
  flex-wrap: wrap; /* optional if you want them to wrap to the next line when too many */
  gap: 12px; /* space between cards */
  align-items: center;
}
.member-card {
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 12px;
  border-radius: 8px;
}
